
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="description" content="Chemistry - Responsive Muti-Purpose Portfolio Template">
	<meta name="author" content="">

	<title>InvitoMix</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->

	<!-- Google Webfonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="/js/libs/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core CSS -->
	<link href="../../static/userResources/css/bootstrap.css" rel="stylesheet">

	<!-- Theme Styles CSS-->
	<link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/theme-shop.css" rel="stylesheet">
	<link href="../../static/userResources/css/elements.css" rel="stylesheet">
	<link href="../../static/userResources/css/iconmoon.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="../../static/userResources/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/userResources/css/flexslider.css" rel="stylesheet">
	<link href="../../static/userResources/css/isotope.css" rel="stylesheet">
	<link href="../../static/userResources/css/slicknav.css" rel="stylesheet" >
    <link href="../../static/userResources/cssx/jquery.fancybox.css" rel="stylesheet">


	<!--[if lt IE 9]>
	<script src="/js/libs/html5.js"></script>
	<![endif]-->

    <link href="../../static/userResources/css/demo-style-chooser.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <link id="one" rel="stylesheet" href="">
    <link id="two" rel="stylesheet" href="">
    <link id="three" rel="stylesheet" href="">
    <script type="text/javascript" src="../../static/userResources/js/script.js" ></script>



</head>
<body id="pages">

<!-- STYLES -->
<div id="stylesBox">
	<a href="#" class="contact">STYLES</a>
	<div class="stylesBack">

        <p>Layout Style</p>
            <a class="boxed1" href="?theme=boxed1" title="boxed">boxed</a> ::
            <a class="boxed2" href="?theme=boxed2" title="not boxed">not boxed</a>

    	<p>Main Background Pattern</p>
        	<div class="pattern-links">
            <a class="colorbox back21" href="?theme=back21" title="Background"></a>
            <a class="colorbox back22" href="?theme=back22" title="Background"></a>
            <a class="colorbox back23" href="?theme=back23" title="Background"></a>
            <a class="colorbox back24" href="?theme=back24" title="Background"></a>
            <a class="colorbox back25" href="?theme=back25" title="Background"></a>

            <a class="colorbox back1" href="?theme=back1" title="Background"></a>
            <a class="colorbox back2" href="?theme=back2" title="Background"></a>
            <a class="colorbox back3" href="?theme=back3" title="Background"></a>
            <a class="colorbox back4" href="?theme=back4" title="Background"></a>
            <a class="colorbox back5" href="?theme=back5" title="Background"></a>
            <a class="colorbox back6" href="?theme=back6" title="Background"></a>
            <a class="colorbox back7" href="?theme=back7" title="Background"></a>
            <a class="colorbox back8" href="?theme=back8" title="Background"></a>
            <a class="colorbox back9" href="?theme=back9" title="Background"></a>
            <a class="colorbox back10" href="?theme=back10" title="Background"></a>
            <a class="colorbox back11" href="?theme=back11" title="Background"></a>
            <a class="colorbox back12" href="?theme=back12" title="Background"></a>
            <a class="colorbox back13" href="?theme=back13" title="Background"></a>
            <a class="colorbox back14" href="?theme=back14" title="Background"></a>
            <a class="colorbox back15" href="?theme=back15" title="Background"></a>
            <a class="colorbox back16" href="?theme=back16" title="Background"></a>
            <a class="colorbox back17" href="?theme=back17" title="Background"></a>
            <a class="colorbox back18" href="?theme=back18" title="Background"></a>
            <a class="colorbox back19" href="?theme=back19" title="Background"></a>
            <a class="colorbox back20" href="?theme=back20" title="Background"></a>

            </div>

            <a href="#" id="resetButton">Reset Styles</a>

	</div>
</div>
<!-- STYLES -->

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		<!-- Header -->




		{% include 'user/header.html' %}





		<!-- Header -->
	</div>

	<div class="space30"></div>

	<!-- Main content -->
    <div class="col-lg-9">

        <p style="font-size: x-large;"><br>Here you have to choose Character.</p><br>

        <p style="font-size: x-large;">You can view Character by clicking view which is below from every Character.</p><br>

        <p style="font-size: x-large;">Just click on any one from below</p><br>

    </div>

	<div class="page-wrap container">
		<h3>Character</h3>
		<div class="space30"></div>
		<!-- Portfolio content -->
		<section id="portfolio" class="portfolio-round1">
			<!-- Start Filter -->

			<!-- End Filter -->
			<div class="portfolio-inner nport">
				<div id="folio" class="isotope">
					<div class="folio-item col-md-3 isotope-item web design">

                        <div>

                        </div>
                        {% for i in key %}
                                <a href="/user/loadTemplate?subcategoryId={{ i['character_subCategoryId'] }}&characterId={{ i['characterId'] }}">
                                    <img src="{{i['characterPath']}}/{{i['characterName']}}" class="img-responsive" alt="img" name="{{ i['characterId'] }}" id="{{ i['characterId'] }}"/></a>

                                <a href="{{i['characterPath']}}/{{i['characterName']}}" target="_blank">View</a><br>
                            {% endfor %}


					</div>


				</div>

			</div>
		</section>
		<!-- Portfolio content -->
	</div>
	<!-- Main content -->

	<!-- Footer -->





	{% include 'user/footer.html' %}





	<!-- Footer -->

	<!-- Portfolio - Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<span class="close" data-dismiss="modal" data-target="#myModal"><img src="../../static/userResources/images/close.png" alt="img"/></span>
					<a class="prev-project" href="#"  data-toggle="modal" data-dismiss="modal" data-target="#myModal1"></a>
					<a class="next-project" href="#"  data-toggle="modal" data-dismiss="modal" data-target="#myModal1"></a>
					<div class="project-single container">
						<div class="col-md-7">
							<div class="project-slide">
								<div class="big-img">
									<img src="../../static/userResources/images/single1/1-big.jpg" class="img-responsive p1-img" alt="img"/>
									<img src="../../static/userResources/images/single1/2-big.jpg" class="img-responsive p2-img" style="display:none;" alt="img"/>
									<img src="../../static/userResources/images/single1/3-big.jpg" class="img-responsive p3-img" style="display:none;" alt="img"/>
								</div>
								<div class="small-img">
									<ul>
										<li class="p1">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single1/1-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
										<li class="p2">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single1/2-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
										<li class="p3">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single1/3-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<h4>I Can Touch Your Heart</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
							<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
							<div class="project-details">
								<h5>Client:</h5>
								<p>Samwise Gamgee</p>
								<div class="divider2"></div>
								<h5>Brief:</h5>
								<p>Blue Monster trying to capture a heart</p>
								<div class="divider2"></div>
								<h5>Budget:</h5>
								<p>$3,000 - $4,500</p>
								<div class="divider2"></div>
								<h5>Applications Used:</h5>
								<p>Photoshop CS6 & Illustrator CS6</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /Portfolio - Modal -->

	<!-- Portfolio - Modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"  >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<span class="close" data-dismiss="modal" data-target="#myModal"><img src="../../static/userResources/images/close.png" alt="img"/></span>
					<a class="prev-project" href="#"  data-toggle="modal" data-dismiss="modal" data-target="#myModal"></a>
					<a class="next-project" href="#"  data-toggle="modal" data-dismiss="modal"  data-target="#myModal"></a>
					<div class="project-single project-single2 container">
						<div class="col-md-12">
							<div class="project-slide1">
								<div class="big-img">
									<img src="../../static/userResources/images/single2/1-big.jpg" class="img-responsive p1-img" alt="img"/>
									<img src="../../static/userResources/images/single2/2-big.jpg" class="img-responsive p2-img" style="display:none;" alt="img"/>
									<img src="../../static/userResources/images/single2/3-big.jpg" class="img-responsive p3-img" style="display:none;" alt="img"/>
								</div>
								<div class="small-img">
									<ul>
										<li class="p1">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single2/1-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
										<li class="p2">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single2/2-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
										<li class="p3">
											<div class="small-img-inner">
												<img src="../../static/userResources/images/single2/3-small.jpg" class="img-responsive" alt="img"/>
												<span class="small-img-overlay"><i class="fa fa-plus"></i></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<h4>Heavy Burden</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
							<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
						</div>
						<div class="col-md-5">
							<div class="project-details">
								<h5>Client:</h5>
								<p>Meriadoc 'Merry' Brandybuck</p>
								<div class="divider2"></div>
								<h5>Brief:</h5>
								<p>Big green monster with a red castle on his head.</p>
								<div class="divider2"></div>
								<h5>Budget:</h5>
								<p>$2,500 - $3,500</p>
								<div class="divider2"></div>
								<h5>Applications Used:</h5>
								<p>Photoshop CS6 & Illustrator CS6</p>
							</div>
						</div>
						<div class="space90"></div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /Portfolio - Modal -->

</div>

<!-- JavaScript -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/bootstrap.js"></script>
<script src="../../static/userResources/js/owl.carousel.js"></script>
<script src="../../static/userResources/js/jquery.flexslider.js"></script>
<script src="../../static/userResources/js/jquery.slicknav.min.js"></script>
<script src="../../static/userResources/js/jquery.isotope.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../../static/userResources/js/jquery.gmap.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.pack.js"></script>
<script src="../../static/userResources/js/main.js"></script>


</body>
</html>