
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="description" content="Chemistry - Responsive Muti-Purpose Portfolio Template">
	<meta name="author" content="">

	<title>InvitoMix</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/userResources/images/favicon.ico">

	<!-- Google Webfonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="/js/libs/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core CSS -->
	<link href="../../static/userResources/css/bootstrap.css" rel="stylesheet">

	<!-- Theme Styles CSS-->
	<link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/theme-shop.css" rel="stylesheet">
	<link href="../../static/userResources/css/elements.css" rel="stylesheet">
	<link href="../../static/userResources/css/iconmoon.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.css" rel="stylesheet">
	
    <!-- Plugins CSS -->
    <link href="../../static/userResources/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/userResources/css/flexslider.css" rel="stylesheet">
	<link href="../../static/userResources/css/isotope.css" rel="stylesheet">
	<link href="../../static/userResources/css/slicknav.css" rel="stylesheet" >
    <link href="../../static/userResources/css/jquery.fancybox.css" rel="stylesheet">
    

	<!--[if lt IE 9]>
	<script src="/js/libs/html5.js"></script>
	<![endif]-->

    <link href="../../static/userResources/css/demo-style-chooser.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <link id="one" rel="stylesheet" href="">
    <link id="two" rel="stylesheet" href="">
    <link id="three" rel="stylesheet" href="">
    <script type="text/javascript" src="../../static/userResources/js/script.js" ></script>
    


</head>
<body id="pages">

<!-- STYLES -->
<div id="stylesBox">
	<a href="#" class="contact">STYLES</a>
	<div class="stylesBack">
                            
        <p>Layout Style</p>            
            <a class="boxed1" href="?theme=boxed1" title="boxed">boxed</a> :: 
            <a class="boxed2" href="?theme=boxed2" title="not boxed">not boxed</a>
    
    	<p>Main Background Pattern</p> 
        	<div class="pattern-links">
            <a class="colorbox back21" href="?theme=back21" title="Background"></a>
            <a class="colorbox back22" href="?theme=back22" title="Background"></a>
            <a class="colorbox back23" href="?theme=back23" title="Background"></a>
            <a class="colorbox back24" href="?theme=back24" title="Background"></a>
            <a class="colorbox back25" href="?theme=back25" title="Background"></a>
                                   
            <a class="colorbox back1" href="?theme=back1" title="Background"></a>
            <a class="colorbox back2" href="?theme=back2" title="Background"></a>
            <a class="colorbox back3" href="?theme=back3" title="Background"></a>
            <a class="colorbox back4" href="?theme=back4" title="Background"></a>
            <a class="colorbox back5" href="?theme=back5" title="Background"></a>
            <a class="colorbox back6" href="?theme=back6" title="Background"></a>
            <a class="colorbox back7" href="?theme=back7" title="Background"></a>
            <a class="colorbox back8" href="?theme=back8" title="Background"></a>
            <a class="colorbox back9" href="?theme=back9" title="Background"></a>
            <a class="colorbox back10" href="?theme=back10" title="Background"></a>
            <a class="colorbox back11" href="?theme=back11" title="Background"></a>
            <a class="colorbox back12" href="?theme=back12" title="Background"></a>
            <a class="colorbox back13" href="?theme=back13" title="Background"></a>
            <a class="colorbox back14" href="?theme=back14" title="Background"></a>
            <a class="colorbox back15" href="?theme=back15" title="Background"></a>
            <a class="colorbox back16" href="?theme=back16" title="Background"></a>
            <a class="colorbox back17" href="?theme=back17" title="Background"></a>
            <a class="colorbox back18" href="?theme=back18" title="Background"></a>
            <a class="colorbox back19" href="?theme=back19" title="Background"></a>
            <a class="colorbox back20" href="?theme=back20" title="Background"></a>
            
            </div>
                   <a href="#" id="resetButton">Reset Styles</a>  
	</div>
</div>
<!-- STYLES --> 

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		<!-- Header -->




        {% include 'user/header.html' %}





		<!-- Header -->
	</div>

	<div class="space30"></div>

	<!-- Main content -->
	<div class="page-wrap container elements-wrap">
		<h3>Elements</h3>
		<div class="space30"></div>
		<div class="col-md-12 no-padding">
			<div class="row">
				<div class="col-md-6">
					<img src="../../static/userResources/images/demo/3.jpg" alt="img" class="img-square pull-left img-left">
					<h4 class="title">Left Aligned Image</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscingelit. Sed laoreet massa at dui aliquet scelerisque. Fusce a neque arcu, tempor congue dolor. Phasellus diam enim, vulputate sed ornare eu, fringilla vel sapien. Fusce metus ligula, adipiscing vitae egestas volutpat, laoreet eget augue. Duis egestas, dui at molestie scelerisque, felis nisl lobortis velit, et consequat eros nibh id lorem.</p>
					<div class="space30"></div>
				</div>
				<div class="col-md-6">
					<img src="../../static/userResources/images/demo/3.jpg" alt="img" class="img-circle pull-right img-right">
					<h4 class="title">Right Aligned Image</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscingelit. Sed laoreet massa at dui aliquet scelerisque. Fusce a neque arcu, tempor congue dolor. Phasellus diam enim, vulputate sed ornare eu, fringilla vel sapien. Fusce metus ligula, adipiscing vitae egestas volutpat, laoreet eget augue. Duis egestas, dui at molestie scelerisque, felis nisl lobortis velit, et consequat eros nibh id lorem.</p>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="space30"></div>
		<div class="col-md-12 no-padding pricing-wrap">
			<div class="row">
				<div class="col-md-12" style="margin:0px;">
					<h4>Pricing Tables</h4>
				</div>
				<div class="col-md-3 pr">
					<div class="pricing">
						<div class="plan-title">Economy Package</div>
						<div class="plan-price">$10.00<span>/mo</span></div>
						<div class="plan-subtitle">Best For Personal Use</div>
						<ul>
							<li>Small Setup Fee</li>
							<li>5GB Storage Space</li>
							<li>5TB Bandwidth Cap</li>
							<li>24/7 Customer Support</li>
							<li>5 Email Addresses</li>
						</ul>
						<button type="button" class="btn btn-primary btn-sm btn-orange uppercase center-block">Purchase Now</button><br>
					</div>
				</div>
				<div class="col-md-3 pr-p">
					<div class="pricing pricing-popular">
						<div class="plan-title">Supreme Package</div>
						<div class="plan-price">$29.99<span>/mo</span></div>
						<div class="plan-subtitle">Perfect For Small Businesses</div>
						<ul>
							<li>No Setup Fee</li>
							<li>50GB Storage Space</li>
							<li>45TB Bandwidth Cap</li>
							<li>24/7 Customer Support</li>
							<li>Unlimited Email Addresses</li>
						</ul>
						<button type="button" class="btn btn-primary btn-sm btn-white uppercase center-block">Purchase Now</button><br>
					</div>
				</div>
				<div class="col-md-3 pr">
					<div class="pricing">
						<div class="plan-title">Premium Package</div>
						<div class="plan-price">$49.99<span>/mo</span></div>
						<div class="plan-subtitle">Great For Startups</div>
						<ul>
							<li>Small Setup Fee</li>
							<li>30GB Storage Space</li>
							<li>10TB Bandwidth Cap</li>
							<li>24/7 Customer Support</li>
							<li>25 Email Addresses</li>
						</ul>
						<button type="button" class="btn btn-primary btn-sm btn-orange uppercase center-block">Purchase Now</button><br>
					</div>
				</div>
				<div class="col-md-3 pr">
					<div class="pricing">
						<div class="plan-title">Platinum Package</div>
						<div class="plan-price">$99.00<span>/mo</span></div>
						<div class="plan-subtitle">Nothing Beats Unlimited</div>
						<ul>
							<li>Small Setup Fee</li>
							<li>Unlimited Storage Space</li>
							<li>No Bandwidth Cap</li>
							<li>24/7 Customer Support</li>
							<li>Unlimited Emails</li>
						</ul>
						<button type="button" class="btn btn-primary btn-sm btn-orange uppercase center-block">Purchase Now</button><br>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>
		<div class="space30"></div>

		<div class="col-md-12 no-padding">
			<div class="row">
				<div class="col-md-6">
					<h4>Tabs</h4>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Tab Item 1</a></li>
						<li><a href="#tab2" data-toggle="tab">Tab Item 2</a></li>
						<li><a href="#tab3" data-toggle="tab">Tab Item 3</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
							<div class="space20"></div>
							<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
						</div>
						<div class="tab-pane" id="tab2">
							
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
						</div>
						<div class="tab-pane" id="tab3">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
							<div class="space20"></div>
							<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Accordion</h4>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									Toggle Title 1
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									Toggle Title 2
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									Toggle Title 3
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>
		<div class="space30"></div>

		<div class="col-md-12 no-padding element-btn">
			<div class="row">
				<div class="col-md-12" style="margin:0px;">
					<h4>Buttons</h4>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-orange uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-orange uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-orange uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-orange uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-orange-lite uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-orange-lite uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-orange-lite uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-orange-lite uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-blue uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-blue uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-blue uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-blue uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-green uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-green uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-green uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-green uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-violet uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-violet uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-violet uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-violet uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-gray uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-gray uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-gray uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-gray uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-brown uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-brown uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-brown uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-brown uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-yellow uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-yellow uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-yellow uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-yellow uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-dark-blue uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-dark-blue uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-dark-blue uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-dark-blue uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-brown-lite uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-brown-lite uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-brown-lite uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-brown-lite uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-pink uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-pink uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-pink uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-pink uppercase">Extra Large</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-xs btn-white uppercase">small</button><br>
					<button type="button" class="btn btn-primary btn-sm btn-white uppercase">medium</button><br>
					<button type="button" class="btn btn-primary btn-white uppercase">Large</button><br>
					<button type="button" class="btn btn-primary btn-lg btn-white uppercase">Extra Large</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Main content -->

	<!-- Footer -->





	{% include 'user/footer.html' %}





	<!-- Footer -->
</div>

<!-- JavaScript -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/bootstrap.js"></script>
<script src="../../static/userResources/js/owl.carousel.js"></script>
<script src="../../static/userResources/js/jquery.flexslider.js"></script>
<script src="../../static/userResources/js/jquery.slicknav.min.js"></script>
<script src="../../static/userResources/js/jquery.isotope.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../../static/userResources/js/jquery.gmap.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.pack.js"></script>
<script src="../../static/userResources/js/main.js"></script>


</body>
</html>