<footer>
		<div class="container">
			<!--<div class="col-md-2 footer-widget">
				<h6>Quick Links</h6>
				<ul class="link-list">
					<li><a href="#">&rarr; Features</a></li>
					<li><a href="#">&rarr; Portfolio</a></li>
					<li><a href="#">&rarr; Our Blog</a></li>
					<li><a href="#">&rarr; About</a></li>
					<li><a href="#">&rarr; Contact</a></li>
				</ul>
			</div>-->

			<div class="col-md-4 footer-widget">
				<h6>Contact Us</h6>
				<p>Sudarshan Gold<br>Near Murlidhar Party Plot<br>Sola, Ahmedabad 385214</p>
			</div>
			<!--<div class="col-md-6 footer-widget">
				<h6>Be Sociable</h6>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>-->
		</div>
	</footer>
	<div class="footer-copy">
		<div class="container">
			<div class="col-md-12">
				<p>&copy; Copyright 2014 Chemistry. - Purchase today at <a href="http://bit.ly/OgJ2eL">ThemeForest</a></p>
			</div>
		</div>
	</div>