<header>
			<div class="container">
				<div class="col-md-12">

					<!-- Logo -->
					<h1 class="logo"><a href="/user/loadIndex"><img src="../../static/userResources/images/PicsArt_02-16-01.05.35.png" class="img-responsive" width="400" height="400" alt="img"/></a></h1>

					<!-- Nav Menu -->
					<div id='cssmenu'>
						<ul>
							<li class='has-sub active'>
								<a href='/user/loadIndex'><span>Home</span></a>

							</li>
							<li class='has-sub'>
								<a href='/user/loadUserCategory'><span>Create</span></a>

							</li>

							<li class='has-sub'>
								<a href='/user/loadSuggestion'><span>Suggestion</span></a>

							</li>

							<li class='has-sub'>
								<a href='/user/loadFeedback'><span>Feedback</span></a>

							</li>


                            <li><a href='/user/loadContent'><span>Collection</span></a></li>

                            <li><a href='/user/loadContact'><span>Contact Us</span></a></li>

                            <li><a href='/user/loadAbout'><span>About Us</span></a></li>

                            <li>
                                <a href='/admin/logoutSession'><span>Logout</span></a>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</header>