
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="description" content="Chemistry - Responsive Muti-Purpose Portfolio Template">
	<meta name="author" content="">

	<title>InvitoMix</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->

	<!-- Google Webfonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="/js/libs/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core CSS -->
	<link href="../../static/userResources/css/bootstrap.css" rel="stylesheet">

	<!-- Theme Styles CSS-->
	<link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/theme-shop.css" rel="stylesheet">
	<link href="../../static/userResources/css/elements.css" rel="stylesheet">
	<link href="../../static/userResources/css/iconmoon.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="../../static/userResources/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/userResources/css/flexslider.css" rel="stylesheet">
	<link href="../../static/userResources/css/isotope.css" rel="stylesheet">
	<link href="../../static/userResources/css/slicknav.css" rel="stylesheet" >
    <link href="../../static/userResources/css/jquery.fancybox.css" rel="stylesheet">


	<!--[if lt IE 9]>
	<script src="/js/libs/html5.js"></script>
	<![endif]-->

    <link href="../../static/userResources/css/demo-style-chooser.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <link id="one" rel="stylesheet" href="">
    <link id="two" rel="stylesheet" href="">
    <link id="three" rel="stylesheet" href="">
    <script type="text/javascript" src="../../static/userResources/js/script.js" ></script>



</head>
<body id="pages">

<!-- STYLES -->
<div id="stylesBox">
	<a href="#" class="contact">STYLES</a>
	<div class="stylesBack">

        <p>Layout Style</p>
            <a class="boxed1" href="?theme=boxed1" title="boxed">boxed</a> ::
            <a class="boxed2" href="?theme=boxed2" title="not boxed">not boxed</a>

    	<p>Main Background Pattern</p>
        	<div class="pattern-links">
            <a class="colorbox back21" href="?theme=back21" title="Background"></a>
            <a class="colorbox back22" href="?theme=back22" title="Background"></a>
            <a class="colorbox back23" href="?theme=back23" title="Background"></a>
            <a class="colorbox back24" href="?theme=back24" title="Background"></a>
            <a class="colorbox back25" href="?theme=back25" title="Background"></a>

            <a class="colorbox back1" href="?theme=back1" title="Background"></a>
            <a class="colorbox back2" href="?theme=back2" title="Background"></a>
            <a class="colorbox back3" href="?theme=back3" title="Background"></a>
            <a class="colorbox back4" href="?theme=back4" title="Background"></a>
            <a class="colorbox back5" href="?theme=back5" title="Background"></a>
            <a class="colorbox back6" href="?theme=back6" title="Background"></a>
            <a class="colorbox back7" href="?theme=back7" title="Background"></a>
            <a class="colorbox back8" href="?theme=back8" title="Background"></a>
            <a class="colorbox back9" href="?theme=back9" title="Background"></a>
            <a class="colorbox back10" href="?theme=back10" title="Background"></a>
            <a class="colorbox back11" href="?theme=back11" title="Background"></a>
            <a class="colorbox back12" href="?theme=back12" title="Background"></a>
            <a class="colorbox back13" href="?theme=back13" title="Background"></a>
            <a class="colorbox back14" href="?theme=back14" title="Background"></a>
            <a class="colorbox back15" href="?theme=back15" title="Background"></a>
            <a class="colorbox back16" href="?theme=back16" title="Background"></a>
            <a class="colorbox back17" href="?theme=back17" title="Background"></a>
            <a class="colorbox back18" href="?theme=back18" title="Background"></a>
            <a class="colorbox back19" href="?theme=back19" title="Background"></a>
            <a class="colorbox back20" href="?theme=back20" title="Background"></a>

            </div>

            <a href="#" id="resetButton">Reset Styles</a>

	</div>
</div>
<!-- STYLES -->

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		<!-- Header -->





		{% include 'user/header.html' %}





        <!-- Header -->
	</div>

	<div class="space30"></div>

	<!-- Main content -->
	<div class="page-wrap container shop-form-wrap">
        <h5 class="review-head">Suggestion</h5>

		<!-- Shop Content -->
		<div role="main" class="main shop">
			<div class="row">
				<div class="col-md-12">
					<div class="row featured-boxes">
						<div class="col-md-6">
							<div class="featured-box default">
								<div class="box-content">
									
									<form id="contactForm" enctype="multipart/form-data" action="/user/insertSuggestion" method="post">
										<div class="row">
											<div class="form-group">
												<div class="col-md-12">
													 Suggestion subject:
                                                     <input type = "text" name ="suggestionSubject" id ="suggestionSubject" class="form-control" required/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group">
												<div class="col-md-12">

													Suggestion Description:
                                                    <textarea name="suggestionDescription" id="suggestionDescription" class="form-control" required></textarea>
                                                    <br>
                                                    Suggestion File:
                                                         <input type = "file" name = "suggestionFile" id="suggestionFile" class="form-control" required/>
												</div>
											</div>
										</div>
                                        <div class="row">
											<div class="col-md-12">
												<div class="space20"></div>
												<input type = "submit" class = "btn btn-primary btn-orange uppercase pull-right"/>
											</div>
										</div>
                                        <div>{% if key %}
                                                <div style="color:green;"> {{key}}</div>
                                             {% endif %}
                                        </div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main content -->

	<!-- Footer -->





	{% include 'user/footer.html' %}




    <!-- Footer -->
</div>

<!-- JavaScript -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/bootstrap.js"></script>
<script src="../../static/userResources/js/owl.carousel.js"></script>
<script src="../../static/userResources/js/jquery.flexslider.js"></script>
<script src="../../static/userResources/js/jquery.slicknav.min.js"></script>
<script src="../../static/userResources/js/jquery.isotope.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../../static/userResources/js/jquery.gmap.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.pack.js"></script>
<script src="../../static/userResources/js/main.js"></script>



</body>
</html>