
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="description" content="Chemistry - Responsive Muti-Purpose Portfolio Template">
	<meta name="author" content="">

	<title>InvitoMix</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/userResources/images/favicon.ico">

	<!-- Google Webfonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="/js/libs/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core CSS -->
	<link href="../../static/userResources/css/bootstrap.css" rel="stylesheet">

	<!-- Theme Styles CSS-->
	<link href="../../static/userResources/css/style.css" rel="stylesheet">
    <link href="../../static/userResources/css/theme-shop.css" rel="stylesheet">
	<link href="../../static/userResources/css/elements.css" rel="stylesheet">
	<link href="../../static/userResources/css/iconmoon.css" rel="stylesheet">
    <link href="../../static/userResources/css/font-awesome.css" rel="stylesheet">
	
    <!-- Plugins CSS -->
    <link href="../../static/userResources/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/userResources/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/userResources/css/flexslider.css" rel="stylesheet">
	<link href="../../static/userResources/css/isotope.css" rel="stylesheet">
	<link href="../../static/userResources/css/slicknav.css" rel="stylesheet" >
    <link href="../../static/userResources/css/jquery.fancybox.css" rel="stylesheet">
    

	<!--[if lt IE 9]>
	<script src="/js/libs/html5.js"></script>
	<![endif]-->

    <link href="../../static/userResources/css/demo-style-chooser.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <link id="one" rel="stylesheet" href="">
    <link id="two" rel="stylesheet" href="">
    <link id="three" rel="stylesheet" href="">
    <script type="text/javascript" src="../../static/userResources/js/script.js" ></script>
    


</head>
<body id="pages">

<!-- STYLES -->
<div id="stylesBox">
	<a href="#" class="contact">STYLES</a>
	<div class="stylesBack">
                            
        <p>Layout Style</p>            
            <a class="boxed1" href="?theme=boxed1" title="boxed">boxed</a> :: 
            <a class="boxed2" href="?theme=boxed2" title="not boxed">not boxed</a>
    
    	<p>Main Background Pattern</p> 
        	<div class="pattern-links">
            <a class="colorbox back21" href="?theme=back21" title="Background"></a>
            <a class="colorbox back22" href="?theme=back22" title="Background"></a>
            <a class="colorbox back23" href="?theme=back23" title="Background"></a>
            <a class="colorbox back24" href="?theme=back24" title="Background"></a>
            <a class="colorbox back25" href="?theme=back25" title="Background"></a>
                                   
            <a class="colorbox back1" href="?theme=back1" title="Background"></a>
            <a class="colorbox back2" href="?theme=back2" title="Background"></a>
            <a class="colorbox back3" href="?theme=back3" title="Background"></a>
            <a class="colorbox back4" href="?theme=back4" title="Background"></a>
            <a class="colorbox back5" href="?theme=back5" title="Background"></a>
            <a class="colorbox back6" href="?theme=back6" title="Background"></a>
            <a class="colorbox back7" href="?theme=back7" title="Background"></a>
            <a class="colorbox back8" href="?theme=back8" title="Background"></a>
            <a class="colorbox back9" href="?theme=back9" title="Background"></a>
            <a class="colorbox back10" href="?theme=back10" title="Background"></a>
            <a class="colorbox back11" href="?theme=back11" title="Background"></a>
            <a class="colorbox back12" href="?theme=back12" title="Background"></a>
            <a class="colorbox back13" href="?theme=back13" title="Background"></a>
            <a class="colorbox back14" href="?theme=back14" title="Background"></a>
            <a class="colorbox back15" href="?theme=back15" title="Background"></a>
            <a class="colorbox back16" href="?theme=back16" title="Background"></a>
            <a class="colorbox back17" href="?theme=back17" title="Background"></a>
            <a class="colorbox back18" href="?theme=back18" title="Background"></a>
            <a class="colorbox back19" href="?theme=back19" title="Background"></a>
            <a class="colorbox back20" href="?theme=back20" title="Background"></a>
            
            </div>
            
            <a href="#" id="resetButton">Reset Styles</a>
                     
	</div>
</div>
<!-- STYLES --> 

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		<!-- Header -->




        {% include 'user/header.html' %}





		<!-- Header -->
	</div>
	<!-- Header -->

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container">
		<h3>Shop</h3>
		<!-- Shop Content -->
		<div role="main" class="main shop">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<p>Showing 1-9 of 25 results.</p>
						</div>
						
					</div>
					<div class="space20"></div>
					<div class="row">
						<ul class="products thumb-info-list">
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
								<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-1.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Limted Print</h4>
											<span class="price">
											<del><span class="amount">$325</span></del>
											<ins><span class="amount">$299</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-2.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<span class="amount">$72</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-3.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>New Painting</h4>
											<span class="price">
											<span class="amount">$60</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-4.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<span class="amount">$199</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-5.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Custom Painting</h4>
											<span class="price">
											<span class="amount">$189</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
								<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-6.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<del><span class="amount">$25</span></del>
											<ins><span class="amount">$22</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-7.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Limited Print</h4>
											<span class="price">
											<span class="amount">$290</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-8.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<span class="amount">$49</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
								<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-9.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>New Painting</h4>
											<span class="price">
											<del><span class="amount">$15</span></del>
											<ins><span class="amount">$12</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-10.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<span class="amount">$78</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-11.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Limited Print</h4>
											<span class="price">
											<span class="amount">$220</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
									<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
									<span class="thumb-info-image">
									<span class="thumb-info-act">
									<span class="thumb-info-act-left"><em>View</em></span>
									<span class="thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>
									</span>
									<img alt="img" class="img-responsive" src="../../static/userResources/images/products/product-12.jpg">
									</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Amazing Product</h4>
											<span class="price">
											<span class="amount">$129</span>
											</span>
										</a>
									</span>
								</span>
							</li>
						</ul>
					</div>
					<div class="row page-nav">
						<div class="col-md-12 no-padding">
							<div class="col-md-6">
								<ul>
									<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<p>Page 1 of 2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main content -->

	<!-- Footer -->





    {% include 'user/footer.html' %}





	<!-- Footer -->
</div>


<!-- JavaScript -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/bootstrap.js"></script>
<script src="../../static/userResources/js/owl.carousel.js"></script>
<script src="../../static/userResources/js/jquery.flexslider.js"></script>
<script src="../../static/userResources/js/jquery.slicknav.min.js"></script>
<script src="../../static/userResources/js/jquery.isotope.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../../static/userResources/js/jquery.gmap.js"></script>
<script src="../../static/userResources/js/jquery.fancybox.pack.js"></script>
<script src="../../static/userResources/js/main.js"></script>


</body>
</html>