<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/loadIndex">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Admin Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewUser">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category">
                <i class="mdi mdi-palette menu-icon"></i>
                <span class="menu-title">Manage Category</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="category">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadCategory">Add Category</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewCategory">View Category</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#subcategory" aria-expanded="false"
               aria-controls="subcategory">
                <i class="mdi mdi-layers menu-icon"></i>
                <span class="menu-title">Manage SubCategory</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="subcategory">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadSubCategory">Add SubCategory</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewSubCategory">View SubCategory</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#background" aria-expanded="false"
               aria-controls="background">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Manage BackGround</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="background">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadBackground">Add BackGround</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewBackground">View BackGround</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#template" aria-expanded="false" aria-controls="template">
                <i class="mdi mdi-pencil-box-outline menu-icon"></i>
                <span class="menu-title">Manage Template</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="template">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadTemplate">Add Template</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewTemplate">View Template</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#character" aria-expanded="false"
               aria-controls="character">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Manage Character</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="character">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/loadCharacter">Add Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/viewCharacter">View Character</a></li>

                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewContent">
                <i class="mdi mdi-comment-alert menu-icon"></i>
                <span class="menu-title">Manage Content</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewDownload">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title">Manage Downloads</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewSuggestion">
                <i class="mdi mdi-bell menu-icon"></i>
                <span class="menu-title">Manage Suggestion</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/viewFeedback">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>

    </ul>
</nav>